<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ todolist.name }}</h1>
            <div>
                <a href="{% url "todo_list_update" todolist.id %}">Edit</a>
                <p>
                <a href="{% url "todo_list_delete" todolist.id %}">Delete</a>
                </p>
            </div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for stuff in todolist.items.all %}
                    <tr>
                        <td><a href="{% url "todo_item_update" stuff.id %}">{{ stuff.task }}</a></td>
                        <td>{{ stuff.due_date }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
